<!-- Promotional Banner -->
<div class="bg-white text-center text-sm py-2 text-gray-700">
 <nav>
      <ul class="flex gap-10 text-sm text-gray-700 justify-center text-center">
        <li><a [routerLink]="['/products']" class="hover:text-black">Shirts</a></li>
        <li><a href="#" class="hover:text-black">T Shirts</a></li>
        <li><a href="#" class="hover:text-black">Trousers</a></li>
        <li><a href="#" class="hover:text-black">Accessories</a></li>
      </ul>

    </nav>
</div>

<!-- Main Heading -->


<div class="bg-gray-100 text-sm text-gray-700 py-4 px-4">
  <div class="flex justify-between items-center">
    <!-- Left-aligned sentence -->
    <p class="text-5xl font-semibold text-gray-900 w-1/2">
      Store. The best way to shop you love.
    </p>

    <!-- Right-aligned text -->
    <p class="text-xl font-semibold text-gray-700">
      
            Need shopping help?
            <a  [routerLink]="['/products']" class="text-blue-600 hover:underline ml-1">Checkout new desgins</a>
            
    </p>
  </div>
</div>



